@font-face {
    font-family: titleFont;
    src: url(font/duality.ttf);
}

body{
    margin: 0;
    font-family: 
    font-family: 'Source Sans Pro', sans-serif;
}

.site-header{
    position: relative;
    height: 730px;
    background: url(img/lolaapob.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: grayscale(50%);
}

.site-header ul{
    float:right;
}

.site-header ul li{
    list-style-type: none;
    text-transform: uppercase;
    margin: 20px;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-size: 20px;
    z-index: 100;
}

.site-header li:nth-child(2){
    border: solid #fff 2px;
    border-radius: 0px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-transition: background-color .7s ease, color .7s ease;
}

.site-header li:nth-child(2):hover{
    background-color: rgba(255, 255, 255, 0.54);
    color: #fff;
}

.site-header a, .site-header a:visited{
    color: #fff;
    text-shadow: none;
    text-decoration: none;
    -webkit-transition: color .7s ease, text-shadow .7s ease;
}

.site-header a:hover{
    text-shadow: 1px 1px 1px rgba(157, 157, 157, 0.42);
    color: #fff;
}

.header-text{
    height: 450px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 15%;
    -webkit-filter: drop-shadow(3px 3px 3px rgba(126, 126, 126, 0.57));
    z-index: 100;
}

.header-text, .entry1 div{
    height: 450px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 15%;
    -webkit-filter: drop-shadow(3px 3px 3px rgba(126, 126, 126, 0.57));
    z-index: 100;
}

.entry1{
    position: relative;
    height: 350px;
    background: url(img/carryb.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: grayscale(50%);
}

#about{
    height: 200px;
    width: 500px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#section1{
    width: 100%;
    height: 200px;
    background-position: cover;
    background-repeat: no-repeat;
}

#about h1, #about p{
    text-align: center;
}
#steps{
    text-align: center;
    width: 33%;
    height: 300px;
    margin-left: 33%;
    margin-top:-27px;
    background-color: rgba(0, 0, 0, 0.38);
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

#steps ol li{
    margin-left: -20px;
}